.footer {
    color: #FFF;
    background-color: #F00C;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    display: flex;
}

.flag {
    height: 5em;
    width: 7.5em;
}