.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    display: flex;
    height: 13%;
    opacity: 90%;
}

.flag {
    height: 5em;
    width: 7.5em;
}