@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudThemeProvider/>
<div class="page"style="height:100%">
    <!--<div class="sidebar">
        <NavMenu />
    </div>-->

    <div class="main">
        <MudAppBar Class="red accent-1" Fixed="false" Dense=false>
            <img src="/img/Logo/nbg_logo.png" style="max-height:80%; margin-right:20px;"/>
            <NavLink href="visitors">
                <MudButton Class="red-text text-darken-4" Icon="@Icons.Material.Filled.ConnectWithoutContact">Besucherverwaltung</MudButton>
            </NavLink>   
            <NavLink href="">
                <MudButton Disabled=true Class="red-text text-darken-4" Icon="@Icons.Material.Filled.EditNote" >Besucher Anmelden</MudButton>
            </NavLink>
            <MudSpacer></MudSpacer>
            <NavLink href="">
                <MudIconButton Class="red-text text-darken-4" Icon="@Icons.Material.Filled.Logout" aria-label="logout" Edge="Edge.End"></MudIconButton>
            </NavLink>
        </MudAppBar>

        @Body
    </div>
</div>

@code{ 

}