body {
    /*background-color: #EEE;*/
}

.footer {
    color: #FFF;
    background-color: #F00C;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.touchscreen-button {
    padding: 1em 2em;
}

.touchscreen-textfield .mud-input {
    height: 4.5rem;
    font-size: 1.25rem;
}

.touchscreen-textfield .mud-input-label {
    margin-top: 0.5rem;
    font-size: 1.25rem !important;
}

.touchscreen-textfield .mud-input-slot {
    margin-top: 0.5rem !important;
}