.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.touchscreen-button {
    padding: 1.5rem 3rem;
}

.touchscreen-textfield {
    .mud-input {
        height: 4.5rem;
        font-size: 1.25rem;
    }

    .mud-input-label {
        margin-top: 0.5rem;
        font-size: 1.25rem !important;
    }

    .mud-input-slot {
        margin-top: 0.5rem !important;
    }

    .mud-icon-button-label {
        height: 3rem;
        width: 3rem;
    }

    .mud-icon-button-label .mud-svg-icon {
        height: 1.75rem;
        width: 1.75rem;
    }
}


.absolute-helper-container .mud-input-control-helper-container {
    position: absolute;
    top: 100%;
}

.lang-select {
    height: 95% !important;
    margin: 0 1rem;

    .mud-select, .mud-input-control-input-container, .mud-input, .mud-input-slot {
        height: 95% !important;
    }

    .mud-input-slot {
        display: flex !important;
        align-items: center;
    }

    .mud-input-label {
        background-color: #0000;
        color: #fffa;
    }
}

.mud-dialog {
    padding: 0.5rem 1rem;
}