//COLORS
$mud-color-primary: var(--mud-palette-primary);
$mud-color-secondary: var(--mud-palette-secondary);
$mud-color-success: var(--mud-palette-success); //Visit Active
$mud-color-warning: var(--mud-palette-warning); //Visit Pending
$mud-color-error:   var(--mud-palette-error); //Visit Over

$color-button: #e0e0e0;
$color-button-hover: #d0d0d0;
$color-addvisitbtn-secondary: #ffeeed;

//TABLE
$table-height: 72vh;

//BUTTONS
$button-height-width: 40px;
$btn-right-spacing: 64px;

//TOOLBAR SPACING
$sm-toolbar-vertical-spacing: 5px;
$md-toolbar-horizontal-spacing: 30px;

//TRANSITIONS
$transition-speed: 0.2s;
$transition-type: ease-in;

// 320-520px
@media only screen and (max-width:520px) {

    .mud-table {

        margin-right: 0 !important;
        .mud-toolbar.mud-table-toolbar {
            .mud-paper {

                //Filter Radio Button Form
                form.mud-form {
                    span {
                        font-size: 14px;
                    }
                    svg {
                        font-size: 15px;
                    }
                    .mud-radio {

                        margin-right: 12px;
                        .mud-button-root {
                            padding: 9px;
                        }
                    }
                }
            }
            //Search Bar
            > .mud-input-control {
                input {
                    font-size: 14px;
                }
                svg {
                    font-size: 14px;
                }
            }
        }
    }
}

// 0-960px and mobile/touchscreen interfaces
@media only screen and (max-width:960px), (hover: none), (pointer:coarse){
    .mud-table {
        margin-top: 16px !important;
        margin-right: 32px;
        margin-left: 10px !important;

        .mud-toolbar.mud-table-toolbar {
            height: 125px;
            margin-left: 0;
            padding-left: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            //Contains title, description and filters
            .mud-paper {
                min-width: 373px;

                #titleDescBox {
                    h5 {
                        position: relative;
                        top: $sm-toolbar-vertical-spacing;
                    }
                }

                form.mud-form {
                    margin-top: $sm-toolbar-vertical-spacing;
                }
            }
            //Reset Filter Button
            button.mud-button-root.mud-icon-button {
                width: 30px !important;
                height: 30px !important;
                top: 0;
                right: 14px;
                background-color: #fff; //rgb(240,240,240);
            }
            //Search Bar
            > .mud-input-control {
                margin-left: 15px;
                margin-top: 0 !important;

                .mud-input-control-input-container .mud-input.mud-input-text {
                    margin-top: $sm-toolbar-vertical-spacing;
                }
            }
        }

        .mud-table-body {
            td.mud-table-cell {
                .mud-chip {
                    width: 65%;
                    margin: 0 17.5% 0 17.5%;
                    height: 30px;
                    text-align: center;
                }
                //Mudchip (visit status) colors redefined to prevent :hover effect
                .mud-chip.mud-chip-color-success {
                    background-color: $mud-color-success;
                }

                .mud-chip.mud-chip-color-warning {
                    background-color: $mud-color-warning;
                }

                .mud-chip.mud-chip-color-error {
                    background-color: $mud-color-error;
                }

                .signOffBtn, .optionsMenu {
                    width: 65% !important;
                    margin: 0 17.5% 0 17.5%;
                    height: 30px;
                    flex: auto;
                    border-radius: 12px;
                }

                .optionsMenu {
                    .mud-icon-button {
                        width: 100%;
                        border-radius: 12px;
                    }
                }
            }
        }
        //Sort Select drop down
        .mud-table-smalldevices-sortselect .mud-select {
            display: none;
        }
    }
    .mud-table.mud-elevation-5 {
        box-shadow: none;
    }
}

// >961px
@media only screen and (min-width: 961px) {
    .mud-table {

        padding-top: 16px !important;
        .mud-toolbar.mud-table-toolbar {

            height: 90px;
            //Contains title, description and filters
            .mud-paper form.mud-form {
                margin-right: $md-toolbar-horizontal-spacing;
            }
            //Reset Filter Button
            button.mud-button-root.mud-icon-button {
                position: absolute;
                right: $btn-right-spacing;
                top: 39px;
            }
            //Search Bar
            > .mud-input-control {
                margin-right: 120px;
                margin-top: 15px;
            }
        }

        .mud-table-body {
            tr {

                height: 59px !important;
                td.mud-table-cell {
                    .mud-chip.visitStatusChip {
                        margin-left: 0;
                    }
                    .optionsMenu {
                        border-radius:100%;
                        button {
                            width: $button-height-width;
                            height: $button-height-width;
                        }
                    }
                }
            }
            tr:not(:hover) {
                .optionsMenu {
                    visibility: hidden;
                }
            }
            tr:hover {
                .optionsMenu {
                    visibility: visible;
                }
            }
        }

        .mud-table-head {

            //Add Visit Button Formatting
            th.mud-table-cell {
                #addButtonToolTip div {
                    button {
                        width: 40px;
                        height: 40px;
                        border-width: 2px;
                        border-style: solid;
                        border-color: $mud-color-primary;
                        background-color: $color-addvisitbtn-secondary;
                        color: $mud-color-primary;
                    }
                    button:hover {
                        background-color: $mud-color-primary !important;
                        color: white !important;
                    }
                }
            }
            th.optionsMenuTh {
                padding-right: $btn-right-spacing;
            }
            th.addVisitTh {
                width: $button-height-width !important;
                padding-right: $btn-right-spacing;
            }
        }
    }
    // Option Menu Popup Container
    .optionsMenuContainer {
        max-width: 125px;
    }

    .visitorOverviewBtn {
        width: $button-height-width;
        height: $button-height-width;
    }

    .optionsMenuPopover{
        left:-50%;
        top:-50% !important;
    }
}

// 0-1270px
@media only screen and (max-width:1270px) {

    .mud-toolbar.mud-table-toolbar .mud-paper p {
        display: none;
        height: 0;
        width: 0;
    }

    .mud-toolbar.mud-table-toolbar .mud-paper form {
        display: block;
    }

    #titleDescBox {
        display: block;
    }
}

// >1271px
@media only screen and (min-width:1271px) {
    .mud-table {
        .mud-toolbar.mud-table-toolbar .mud-paper {
            #titleDescBox {

                display: inline-block;
                p {
                    margin-top: 12px;
                    margin-right: 30px;
                }
            }
            form.mud-form {
                display: inline-block;
            }
        }
    }
}

body {
    min-width: 320px; //Minimum view width of 320px for smallest devices
    width: auto !important; // Firefox will set width as auto
    width: 320px; // As IE6 ignores !important it will set width as 320px
}

.visitorOverviewBtn:not(#addVisitBtn):not(:hover), .optionsMenu button:not(:hover) {
    background-color: $color-button;
}

.visitorOverviewBtn:not(#addVisitBtn):hover, .optionsMenu button:hover {
    background-color: $color-button-hover;
}

.mud-table {

    transition: box-shadow $transition-speed $transition-type, margin $transition-speed $transition-type, padding-top $transition-speed $transition-type;
    .mud-toolbar.mud-table-toolbar {

        transition: padding-left $transition-speed $transition-type;
        //Contains title, description and filters
        .mud-paper {
            #titleDescBox {
                position: relative;
                left: 15px;
            }
            form.mud-form {
                margin-left: $md-toolbar-horizontal-spacing/2;
                svg, span {
                    transition: font-size $transition-speed linear;
                }
            }
        }
        //Search Bar
        > .mud-input-control * {
            transition: font-size $transition-speed linear;
        }
        //Reset Filter Button
        button.mud-button-root.mud-icon-button {
            position: absolute;
            transition: font-size $transition-speed $transition-type, margin $transition-speed $transition-type, padding $transition-speed $transition-type, left $transition-speed $transition-type, right $transition-speed $transition-type, top $transition-speed $transition-type, height $transition-speed $transition-type, width $transition-speed $transition-type;
        }
    }
    .mud-table-container {
        height: $table-height;

        .mud-table-body {
            td.mud-table-cell {
                //Mudchip (visit status) colors redefined to prevent :hover effect
                .mud-chip.mud-chip-color-success {
                    background-color: $mud-color-success;
                }

                .mud-chip.mud-chip-color-warning {
                    background-color: $mud-color-warning;
                }

                .mud-chip.mud-chip-color-error {
                    background-color: $mud-color-error;
                }
            }
        }
    }
}

//Hide Scrollbar
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
}

//-------------------------------------------------MISC-------------------------------------------

/*.mud-toolbar.mud-table-toolbar .mud-paper {
    transition: margin-top $transition-speed $transition-type, padding-left $transition-speed $transition-type;
}*/

/*.mud-toolbar.mud-table-toolbar form.mud-form, .mud-table-smalldevices-sortselect .mud-select, .mud-toolbar.mud-table-toolbar button.mud-button-root.mud-icon-button, .mud-toolbar.mud-table-toolbar .mud-input-control .mud-input-control-input-container .mud-input.mud-input-text, .mud-toolbar.mud-table-toolbar .mud-input-control.mud-input-input-control, .mud-toolbar.mud-table-toolbar form.mud-form, .mud-toolbar.mud-table-toolbar .mud-form div[role], .mud-table, .mud-toolbar.mud-table-toolbar, .mud-toolbar.mud-table-toolbar .mud-paper p, .mud-toolbar.mud-table-toolbar, .mud-toolbar.mud-table-toolbar .mud-paper, .mud-table.mud-elevation-5, .mud-toolbar.mud-table-toolbar, .mud-table-body .mud-table-cell
{
    transition: all 1s ; 
    -o-transition: all 1s linear; 
    -moz-transition: all .25s linear; 
    -webkit-transition: all .25s linear; 
}*/

/*.mud-toolbar.mud-table-toolbar .mud-paper form.mud-form, .mud-toolbar.mud-table-toolbar .mud-input-control {
    transition: padding-left $transition-speed $transition-type;*/ /*Radio Btns & Search Bar*/
/*}*/

/*.mud-toolbar, .mud-toolbar > * {
    transition: margin $transition-speed $transition-type, padding $transition-speed $transition-type;
}*/

/*.mud-table .mud-toolbar {
    transition: padding-right $transition-speed $transition-type;
}*/