@inherits LayoutComponentBase
@using MudBlazor;

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">

    <div class="main">
        <MudAppBar Class="red accent-1" Fixed="false" Dense=false>
            <img src="/img/Logo/nbg_logo.png" style="max-height:80%; margin-right:20px;"/>
            <NavLink href="terminal">
                <MudButton Class="red-text text-darken-4" Icon="@Icons.Material.Filled.ConnectWithoutContact">Visitor Registration</MudButton>
            </NavLink>   
            <NavLink href="visitoroverviewpage">
                <MudButton Class="red-text text-darken-4" Icon="@Icons.Material.Filled.EditNote" >Visitor Administration</MudButton>
            </NavLink>
            <MudSpacer></MudSpacer>
            <AuthorizeView>
                <Authorized>
                    <form method="get" action="logout">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <a href="login?redirectUri=/">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
