@inherits LayoutComponentBase
@using MudBlazor;

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">

    <div class="main">
        <MudAppBar Class="red darken-4" Fixed="false" Dense=true Elevation="5">
            <img src="/img/Logo/nbg_logo.png" style="max-height:80%; margin-right:20px;"/>
            @*<NavLink href="terminal">
                <MudButton Class="red-text text-lighten-5" Icon="@Icons.Material.Filled.ConnectWithoutContact">Visitor Registration</MudButton>
            </NavLink>   
            <NavLink href="visitors">
                <MudButton Class="red-text text-lighten-5" Icon="@Icons.Material.Filled.EditNote" >Visitor Administration</MudButton>
            </NavLink>*@
            <MudSpacer></MudSpacer>
            <form method="get" action="logout">
                <button type="submit" class="nav-link btn btn-link" id="logoutBtn">Log out</button>
            </form>
        </MudAppBar>

        <div class="content">
            @Body
        </div>
    </div>
</div>